.conte_tablas{
    display: flex;
    min-width: 1300px;
    margin-bottom: 30px;
    font-size: 0.8rem;
}
table{
    background-color: black;
    height: 30px;
}
table tr td{
    height: 30px;
    min-width: 40px;
}
tr{
    color: white;
}
.tablaUser{
    position: relative;
}
tr:hover {
    background-color: rgb(97, 97, 97);
}
/* segundo turno */
.columnas_usuario1,.columnas_vehiculo1,.columnas_ingreso1{
   
}/* tercer turno */
.columnas_usuario2,.columnas_vehiculo2,.columnas_ingreso2{
    
}/* primer turno */
.columnas_usuario,.columnas_vehiculo,.columnas_ingreso{
    
}
